.foreCast5day h1 {
  position: relative;
  bottom: 20px;
  margin-left: 110px;
}
.weatherForeCast {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  border: 1px solid gray;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
  padding: 20px;
  border-radius: 10px;
  height: 350px;
  margin-left: 110px;
  flex-direction: column;
}
.fiveDays {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 28px;
  /* margin-top: 120px; */
  color: #ff006b;
  position: relative;
}

.weatherForeCast5days {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  gap: 70px;
  position: relative;
  bottom: 40px;
  color: rgb(172, 172, 172);
}
.tempFor5days {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 26px;
  color: #ffc801;
}
