.container {
  margin-left: 110px;
  margin-top: 50px;
}
.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin-top: 100px;
  border: 1px solid gray;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
  padding: 20px;
  border-radius: 10px;
  height: 350px;
}
.temp {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

.card h3 {
  font-size: 16px;
  color: #7d7878;
  margin-bottom: 5px;
}

.card h1 {
  font-size: 24px;
  color: #f5f5f5;
}
